{include file="public/layout" /}

<!--<script type="text/javascript" src="/static/js/layer/laydate/laydate.js"></script>-->
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<script type="text/javascript" src="/static/uploadify/jquery.uploadify.min.js"></script>
<link rel="stylesheet" href="/static/upload.css">

<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
	<form class="form-horizontal" id="adminHandle" action="" method="post">
		<!--<input type="hidden" name="act" value="edit">-->
		<!--<input type="hidden" name="admin_id" value="2">-->
		<div class="ncap-form-default">
			<dl class="row">
				<dt class="tit">
					<label for="title"><em>*</em>案例标题:</label>
				</dt>
				<dd class="opt">
					<input type="text" name="title" value="{$infos['title']}" id="title" class="input-txt">
					<input type="hidden" name ='articlesID' value="{$infos['articlesID'] | default =0}">
				</dd>
			</dl>
			<dl class="row">
				<dt class="tit">
					<label for="team"><em>*</em>团队:</label>
				</dt>
				<dd class="opt">
					<input type="text" name="team" value="{$infos['team']}" id="team" class="input-txt">
				</dd>
			</dl>
			<dl class="row">
				<dt class="tit">
					<label for="city"><em>*</em>城市:</label>
				</dt>
				<dd class="opt">
					<input type="text" name="city" value="{$infos['city']}" id="city" class="input-txt">
				</dd>
			</dl>
			<dl class="row">
				<dt class="tit">
					<label for="site"><em>*</em>地址:</label>
				</dt>
				<dd class="opt">
					<input type="text" name="site" value="{$infos['site']}" id="site" class="input-txt">
				</dd>
			</dl>
			<dl class="row">
				<dt class="tit">
					<label for="title"><em>*</em>内容:</label>
				</dt>
				<dd class="opt">
					<input type="text" name="content" value="{$infos['content']}" id="content" class="input-txt">
				</dd>
			</dl>
			<dl class="row">
				<dt class="tit">
					<label for="area"><em>*</em>面积:</label>
				</dt>
				<dd class="opt">
					<input type="text" name="area" value="{$infos['area']}" id="area" class="input-txt">
				</dd>
			</dl>
			<dl class="row">
				<dt class="tit">
					<label for="orderby"><em>*</em>排序:</label>
				</dt>
				<dd class="opt">
					<input type="text" name="orderby" value="{$infos['orderby']}" id="orderby" class="input-txt">
				</dd>
			</dl>
			<dl class="row">
				<dt class="tit">
					<label><em>*</em>类别:</label>
				</dt>
				<dd class="opt">
					<input type="radio" name="genre" value="1" {if condition="$infos['genre'] == 1"}checked{/if}>设计案例
					<input type="radio" name="genre" value="2" {if condition="$infos['genre'] === 2"}checked{/if}>工程案例
				</dd>
			</dl>
			<dl class="row">
				<dt class="tit">
					<label for="typeID"><em>*</em>案例分类</label>
				</dt>
				<dd class="opt">
					<select id="typeID" name="typeID" class="select" style="width: 120px; height: 28px; border: 1px solid #ccc; border-radius: 4px">
						<option value="">请选择...</option>
						{volist name="type" id="vo"}
						<option value="{$vo.typeID}" {if condition="$infos.typeID eq $vo.typeID"}selected{/if} >{$vo.name}</option>
						{/volist}
					</select>
				</dd>
			</dl>
			<dl class="row">
				<dt class="tit">
					<label for="userID"><em>*</em>作者</label>
				</dt>
				<dd class="opt">
					<select id="userID" name="userID" class="select" style="width: 120px; height: 28px; border: 1px solid #ccc; border-radius: 4px">
						<option value="">请选择...</option>
						{volist name="user" id="vo"}
						<option value="{$vo.userID}" {if condition="$infos.userID eq $vo.userID"}selected{/if} >{$vo.name}</option>
						{/volist}
					</select>
				</dd>
			</dl>

			<dl class="row">
				<dt class="tit">
					<label><em>*</em>添加图片</label>
				</dt>
				<dd class="opt">
					<dev id="uploadimg">

					</dev>
					<div id="imgBox"></div>
					<script src="/static/upload.js"></script>
					<script>
                        //变量接受的是整个Upload对象
                        // var upload = Upload("imgBox",{
                        //     path:"/static/upload.php",//请求的地址
                        //     type:"post",//请求方式
                        //     addBtnName:"添加图片",//添加文件按钮名字
                        //     uploadBtnName:"上传图片",//上传文件按钮名字
                        //     delIcon:"删除",//删除已选择文件的图标或按钮名字
                        //     autoUpload:false,//是否自动上传
                        //     fileNum:5,//上传文件数量
                        //     fileSize:1,//上传文件的大小，以MB为单位
                        //     isRepeat:false,//是否可以重复选择文件(false->不重复选择)
                        //     fileType:['jpg','png','gif','jpeg'],//上传文件的类型
                        //     showImgList:true,//是否显示缩略图
                        //     // uploadSuccess:function(results){//上传成功的回调
                        //     //     if(results.code==100){
                        //     //         results.results.forEach(function(item){
                        //     //             var img = document.createElement("img");
                        //     //             img.src = item;
                        //     //             document.getElementById("uploadimg").appendChild(img);
                        //     //         });
                        //     //         //alert(results.msg)
                        //     //     }else{
                        //     //         alert(results.msg)
                        //     //     }
                        //     // },
                        //     uploadError:function(xhr,status){
                        //         console.log(status)
                        //         //上传出错的回调
                        //     },
                        //     delImgFn:function(_this,parentNode,delFile,fileSrc,fileList,filterFile,index){//删除文件前的回调
                        //         //下方是删除图片的操作，如需弹窗确定，可在本处执行并复制下列代码至确定事件内
                        //         upload.delImg(parentNode,delFile,fileSrc,fileList,filterFile,index);
                        //     }
                        // });

                        var upload = Upload('imgBox', {
                            path: "/static/upload.php",//请求的地址
                            type: "post",//请求方式,
                            uploadSuccess:function(res){
                                console.log(res)
                                if(res.code==100){
                                    res.results.forEach(function (item) {
                                        var img  = document.createElement('img');
                                        img.src = '/static/'+item;
                                        document.getElementById('uploadimg').appendChild(img);
                                        var str = '<input type="hidden" name="img[]" value = "'+item+'">';
                                        $('#imgBox').append(str);
									});
                                    // location.reload();
								}else {
                                    alert(res.msg);
                                }
							},
                            delImgFn:function(_this,parentNode,delFile,fileSrc,fileList,filterFile,index){
                                //删除文件前的回调
                                //下方是删除图片的操作，如需弹窗确定，可在本处执行并复制下列代码至确定事件内
                                _this.delImg(parentNode,delFile,fileSrc,fileList,filterFile,index);
                            }

						});
                        console.log(upload)
					</script>
				</dd>
			</dl>

			<!--<dl class="row">
                <dt class="tit">
                    <label for="second"><em>*</em>关键字:</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="second" value="{$ad_site_info['second'] | default = 3}" id="second" class="input-txt">
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="second"><em>*</em>描述:</label>
                </dt>
                <dd class="opt">
                    <textarea name="descrip" id="descrip" value="{$ad_site_info['descrip']}" class="input-txt"></textarea>
                </dd>
            </dl>-->
			<div class="bot"><a href="JavaScript:void(0);" onclick="adsubmit();" class="ncap-btn-big ncap-btn-green" id="submitBtn">确认提交</a></div>
		</div>
	</form>
</div>
</div>
<script>
    $("#sort").keyup(function (){
        var reg = $(this).val().match(/^[1-9]\d*$/);
        var txt = '';
        if (reg != null) {
            txt = reg[0];
        }
        $(this).val(txt);
    })

    function adsubmit(){
        var params = $('#adminHandle').serialize();
        if($('#title').val() == ''){
            layer.msg('标题不能为空');
            return false;
        }else if($('#orderby').val() == ''){
            layer.msg('排序不能为空');
            return false;
        }else if($('#typeID').val() == ''){
            layer.msg('分类不能为空');
            return false;
        }else if($('#content').val() == ''){
            layer.msg('内容不能为空');
            return false;
        }
        $.ajax({
            url:"{:url('cases/case_add')}",
            type:'post',
            data:params,
            dataType:'json',
            success:function(res){
                layer.msg(res.msg,{time:1000},function(){
                    if(res.status == 1){
                        location.href= "{:url('cases/case_add')}";
                    }
                });
            }
        });
    }
</script>
</body>
</html>