{include file="public/layout" /}

<!--<script type="text/javascript" src="/static/js/layer/laydate/laydate.js"></script>-->
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<script type="text/javascript" src="/static/uploadify/jquery.uploadify.min.js"></script>
<link rel="stylesheet" href="/static/uploadify/uploadify.css">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
	<form class="form-horizontal" id="adminHandle" action="" method="post">
		<!--<input type="hidden" name="act" value="edit">-->
		<!--<input type="hidden" name="admin_id" value="2">-->
		<div class="ncap-form-default">
			<dl class="row">
				<dt class="tit">
					<label for="title"><em>*</em>文章分类标题:</label>
				</dt>
				<dd class="opt">
					<input type="text" name="title" value="{$infos['title']}" id="title" class="input-txt">
					<input type="hidden" name ='problem_classID' value="{$infos['problem_classID'] | default =0}">
				</dd>
			</dl>
			<!--<dl class="row">
                <dt class="tit">
                    <label for="ad_describe"><em>*</em>广告位描述</label>
                </dt>
                <dd class="opt">
                    <textarea name="descrip" id="descrip" value="{$ad_site_info['descrip']}" class="input-txt"></textarea>
                </dd>
            </dl>-->
			<dl class="row">
				<dt class="tit">
					<label for="img"><em>*</em>分类icon上传:</label>
				</dt>
				<dd class="opt">
					<div>
						<input id="thumb_file2" name="license_image" type="file" value="" />
					</div>
					<div class="jq_uploads_img2">
						{if condition="$infos.img"}
						<span style="width: 200px; height: 120px; float: left; margin-left: 5px; margin-top: 10px;">
                            <img width="200" height="100" src="{$infos.img}"><input id="img" type="hidden" name="img" value="{$infos.img}" />
                            <a href="javascript:void(0);">删除</a>
                        </span>
						{else/}
						<input id="img" type="hidden" name="img" value="" />
						{/if}
					</div>
					<script>
                        //图片上传
                        $("#thumb_file2").uploadify({
                            'swf': '/static/uploadify/uploadify.swf?t={$nowtime}',
                            'uploader': '{:url("Uploadify/uploadify_oss",array("add_type"=>7))}',
//                            'uploader': '{:url("Uploadify/uploadify",array("model"=>"article"))}',
                            'cancelImg': '/static/uploadify/uploadify-cancel.png',
                            'buttonText': '上传图片',
                            'fileTypeExts': '*.gif;*.jpg;*.png;*.jpeg',
                            'queueSizeLimit': 1 ,
                            'onUploadSuccess': function (file, data, response) {
                                data =  data.replace(/\ufeff/g,'');
                                var str = '<span style="width: 200px; height: 120px; float: left; margin-left: 5px; margin-top: 10px;"><img width="200" height="100" src="' + data + '"><input type="hidden" id="img" name="img" value="' + data + '" /><a href="javascript:void(0);">删除</a></span>';
                                $(".jq_uploads_img2").html(str);
                            }
                        });
                        //图片删除
                        $(document).on("click", ".jq_uploads_img2 a", function () {
                            var image=$(this).prevAll('input').val();
                            $.ajax({
                                url : "{:url('uploadify/delete')}",
                                type : 'post',
                                data : 'image='+image,
                                dataType : 'json',
                                success : function(res){
                                    if(res.status == 0){
                                        layer.msg(res.msg,{time:1000});
                                        return false;
                                    }
                                }
                            });
                            $(this).parent().remove();
                        });
					</script>
				</dd>
			</dl>
			<dl class="row">
				<dt class="tit">
					<label for="sort"><em>*</em>排序:</label>
				</dt>
				<dd class="opt">
					<input type="text" name="sort" value="{$infos['sort']}" id="sort" class="input-txt">
				</dd>
			</dl>
			<dl class="row">
				<dt class="tit">
					<label><em>*</em>类别:</label>
				</dt>
				<dd class="opt">
					<input type="radio" name="genre" value="1" {if condition="$infos['status'] !== 0"}checked{/if}>显示
					<input type="radio" name="genre" value="2" {if condition="$infos['status'] === 0"}checked{/if}>不显示
				</dd>
			</dl>
			<!--<dl class="row">
                <dt class="tit">
                    <label for="second"><em>*</em>关键字:</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="second" value="{$ad_site_info['second'] | default = 3}" id="second" class="input-txt">
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="second"><em>*</em>描述:</label>
                </dt>
                <dd class="opt">
                    <textarea name="descrip" id="descrip" value="{$ad_site_info['descrip']}" class="input-txt"></textarea>
                </dd>
            </dl>-->
			<div class="bot"><a href="JavaScript:void(0);" onclick="adsubmit();" class="ncap-btn-big ncap-btn-green" id="submitBtn">确认提交</a></div>
		</div>
	</form>
</div>
</div>
<script>
    $("#sort").keyup(function (){
        var reg = $(this).val().match(/^[1-9]\d*$/);
        var txt = '';
        if (reg != null) {
            txt = reg[0];
        }
        $(this).val(txt);
    })

    function adsubmit(){
        var params = $('#adminHandle').serialize();
        if($('#title').val() == ''){
            layer.msg('名称不能为空');
            return false;
        }else if($('#sort').val() == ''){
            layer.msg('排序不能为空');
            return false;
        }
        $.ajax({
            url:"{:url('cases/case_add')}",
            type:'post',
            data:params,
            dataType:'json',
            success:function(res){
                layer.msg(res.msg,{time:1000},function(){
                    if(res.status == 1){
                        location.href= "{:url('cases/case_add')}";
                    }
                });
            }
        });
    }
</script>
</body>
</html>