

<!DOCTYPE HTML>
<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" />




<title>稼禾建设集团|建设部颁发甲级设计一级施工_别墅豪宅_星级酒店_办公楼_公寓住宅_软装设计</title><meta name='keywords' content='星级酒店,办公楼,软装设计,别墅设计,别墅装修,别墅装潢,别墅装饰,别墅装修设计,精装大宅,别墅装修效果图' /><meta name='description' content='稼禾建设集团是具备国家建设部颁发「建筑装饰施工一级资质」、「设计甲级资质」的国内装饰行业领军品牌，先后荣获“中国建筑装饰设计机构50强企业”、“中国建筑装饰30年专业化百强企业”、“中国建筑装饰绿色环保设计50强企业”等多项荣誉，服务热线400-992-3050。'/> 
<meta name="author" content="上海艾睿信息科技有限公司提供技术支持,http://www.irealtech.com" />

<!-- Apple iOS and Android stuff -->
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="baidu-site-verification" content="5zEgA8kTz4" />
<link rel="icon" href="../favicon.ico" tppabs="http://www.jhecn.com/favicon.ico" type="image/x-icon"/>
<link rel="shortcut icon" href="../favicon.ico" tppabs="http://www.jhecn.com/favicon.ico" type="image/x-icon"/>
<link rel="apple-touch-icon" href="/static/home/images/icon.png" tppabs="http://www.jhecn.com/images/icon.png"/>
<link rel="apple-touch-icon-precomposed" href="/static/home/images/icon.png" tppabs="http://www.jhecn.com/images/icon.png" />
<link rel="apple-touch-startup-image" media="screen and (orientation: portrait)" href="/images/startup.png" />
<link rel="apple-touch-startup-image" media="screen and (orientation: landscape)" href="/images/startupL.png" /><link href="/static/home/css/reset.min.css" tppabs="http://www.jhecn.com/css/reset.min.css" type="text/css" rel="stylesheet" /><link href="/static/home/css/layout.css" tppabs="http://www.jhecn.com/css/layout.css" type="text/css" rel="stylesheet" /><link href="/static/home/css/common.css" tppabs="http://www.jhecn.com/css/common.css" type="text/css" rel="stylesheet" /><link href="/static/home/css/page.css" tppabs="http://www.jhecn.com/css/page.css" type="text/css" rel="stylesheet" />
<!--[if IE]><script src="/static/home/js/lib/html5.js" tppabs="http://www.jhecn.com/js/lib/html5.js"></script><![endif]-->
<!--[if lt IE 10]><script type="text/javascript" src="/static/home/js/lib/PIE.js" tppabs="http://www.jhecn.com/js/lib/PIE.js"></script><![endif]-->
<script type="text/javascript" src="/static/home/js/lib/jquery.min.js" tppabs="http://www.jhecn.com/js/lib/jquery.min.js"></script>
<script type="text/javascript" src="/static/home/js/lib/prefixfree.min.js" tppabs="http://www.jhecn.com/js/lib/prefixfree.min.js"></script>
<script type="text/javascript" src="/static/home/js/jquery.easing.1.3.js" tppabs="http://www.jhecn.com/js/jquery.easing.1.3.js"></script>
<title>

</title></head>
<body>

<script type="text/javascript">
$(function(){
	$("ul.nav li").hover(function(){
		$("ul.nav li .dropdown").stop(false,true);
		$(this).find(".dropdown").fadeIn().animate({opacity:"0.7"},1000);	
		$(this).find(".tit").addClass("cur");
	},function(){
		$("ul.nav li .dropdown").stop(false,true);
		$(this).find(".dropdown").fadeOut().animate({opacity:"1"},1000);
		$(this).find(".tit").removeClass("cur");	
	});	
	$(".rightTool ul li").hover(function(){
		$(".rightTool ul li .box").stop(false,true);
		$(this).find(".box").fadeIn();	
	},function(){
		$(".rightTool ul li .box").stop(false,true);
		$(this).find(".box").fadeOut();
	});	
            $("a.backTop").click(function(){  
                $('body,html').animate({scrollTop:0},1000);  
                return false;  
            });  
	$("a.weixin").click(function(){
	   $(this).find("img").toggle();
	});	
});
</script>
<header>
   <div class="cw">
      <div class="header">
	     <a href="../index.htm" tppabs="http://www.jhecn.com/" class="logo fl" title="稼禾建设"><img src="/static/home/images/commom/logo.png" tppabs="http://www.jhecn.com/images/commom/logo.png" /></a>
		 <div class="fr">
		    <ul class="nav fl">
			   <li><a href="../index.htm" tppabs="http://www.jhecn.com/" class="tit">首页</a></li>
			   <li>
			       <a href="../about/index.htm" tppabs="http://www.jhecn.com/about/" class="tit">集团简介</a>
				   <div class="dropdown" style="width:240px;left:-120px;">
				      <a href="../about/default.aspx.htm" tppabs="http://www.jhecn.com/about/default.aspx">公司简介</a><em>/</em><a href="../about/honnor.aspx.htm" tppabs="http://www.jhecn.com/about/honnor.aspx">荣誉资质</a><em>/</em><a href="../about/culture.aspx.htm" tppabs="http://www.jhecn.com/about/culture.aspx">企业文化</a>
				   </div>
			   </li>
			   <li>
			       <a href="../news/index.htm" tppabs="http://www.jhecn.com/news/" class="tit">新闻&媒体</a>
				   <div class="dropdown" style="width:160px;left:-80px;">
				      <a href="../news/default.aspx.htm" tppabs="http://www.jhecn.com/news/default.aspx">新闻动态</a><em>/</em><a href="../news/default.aspx-cid=101.htm" tppabs="http://www.jhecn.com/news/default.aspx?cid=101">媒体报道</a>
				   </div>
			   </li>
			   <li>
			       <a href="index.htm" tppabs="http://www.jhecn.com/team/" class="tit cur">联合设计</a>
				   <div class="dropdown" style="width:260px;left:-140px;">
				      <a href="default.aspx.htm" tppabs="http://www.jhecn.com/team/default.aspx">设计院简介</a><em>/</em><a href="team.aspx.htm" tppabs="http://www.jhecn.com/team/team.aspx">设计团队</a><em>/</em><a href="design.aspx.htm" tppabs="http://www.jhecn.com/team/design.aspx">设计作品</a>
				   </div>
			   </li>
			   <li>
			       <a href="../case/index.htm" tppabs="http://www.jhecn.com/case/" class="tit">工程案例</a>
				   <div class="dropdown" style="width:595px;left:-297px;">
				        
                                <a href="../case/caselist.aspx-cid=1.htm" tppabs="http://www.jhecn.com/case/caselist.aspx?cid=1">商业综合体</a>
                                <em>/</em>
                            
                                <a href="../case/caselist.aspx-cid=2.htm" tppabs="http://www.jhecn.com/case/caselist.aspx?cid=2">星级酒店</a>
                                <em>/</em>
                            
                                <a href="../case/caselist.aspx-cid=3.htm" tppabs="http://www.jhecn.com/case/caselist.aspx?cid=3">办公楼</a>
                                <em>/</em>
                            
                                <a href="../case/caselist.aspx-cid=4.htm" tppabs="http://www.jhecn.com/case/caselist.aspx?cid=4">别墅豪宅</a>
                                <em>/</em>
                            
                                <a href="../case/caselist.aspx-cid=5.htm" tppabs="http://www.jhecn.com/case/caselist.aspx?cid=5">精装公寓</a>
                                <em>/</em>
                            
                                <a href="../case/caselist.aspx-cid=6.htm" tppabs="http://www.jhecn.com/case/caselist.aspx?cid=6">软装设计</a>
                                
                            
				   
				       
				   </div>
			   </li>
			   <li>
			       <a href="../contact/index.htm" tppabs="http://www.jhecn.com/contact/" class="tit">关于我们</a>
				   <div class="dropdown" style="width:160px;left:-80px;">
				      <a href="../contact/job.aspx.htm" tppabs="http://www.jhecn.com/contact/job.aspx">人才招聘</a><em>/</em><a href="../contact/Default.aspx.htm" tppabs="http://www.jhecn.com/contact/Default.aspx">联系方式</a>
				   </div>
			   </li>
			</ul>
			<div class="share fl">
			    <a href="javascript:;" class="weixin fl"><img src="/static/home/images/commom/h_wx.jpg" tppabs="http://www.jhecn.com/images/commom/h_wx.jpg" /></a><a href="" class="tmall fl"></a></div>
			</div>
		 </div>
	  </div>
   </div>
</header>

<div class="rightTool">
  <ul>
     <li>
	    <a href="javascript:void(0)" onclick="_MEIQIA('showPanel')"><img src="/static/home/images/commom/ico_1.png" tppabs="http://www.jhecn.com/images/commom/ico_1.png" /></a>
	 </li>
     <li>
	    <a href="javascript:;"><img src="/static/home/images/commom/ico_2.png" tppabs="http://www.jhecn.com/images/commom/ico_2.png" /></a>
		<div class="box">
		   <a href="javascript:;" class="tl">联系<br />方式</a>
		   <div class="lx">
		      <h3>全国免费热线</h3>
			  <h4>021-60524066</h4>
		   </div>
		</div>
	 </li>
     <li>
	    <a href="javascript:;"><img src="/static/home/images/commom/ico_3.png" tppabs="http://www.jhecn.com/images/commom/ico_3.png" /></a>
		<div class="box">
		   <a href="javascript:;" class="scan">扫一扫</a>
		   <div class="wx">
		      <img src="/static/home/images/commom/code.jpg" tppabs="http://www.jhecn.com/images/commom/code.jpg" />
		   </div>
		</div>
	 </li>
     <li>
	    <a href="javascript:;" class="backTop"><img src="/static/home/images/commom/ico_4.png" tppabs="http://www.jhecn.com/images/commom/ico_4.png" /></a>
	 </li>
  </ul>
</div>



<!-- Banner -->
<div class="pageBanner" style="background:url(/static/home/images/team/banner.jpg)/*tpa=http://www.jhecn.com/images/team/banner.jpg*/ no-repeat center;"></div>


<!-- 面包屑 -->
<div id="Crumb">
	<div class="cw">
		<a href="../index.htm" tppabs="http://www.jhecn.com/" class="home"></a><em>></em><a href="index.htm" tppabs="http://www.jhecn.com/team/">联合设计</a><em>></em><span>联合设计简介</span>
	</div>
</div>

<div class="cw">
	<div class="pageBody clearfix">
	   
<script type="text/javascript">
$(function(){
  $(".navList ul li:last-child").css("border-bottom","none");
});
</script>
	   <div class="pageNav fr">
	       <div class="navList">
		       <div class="Tit">
			       <h4>联合设计</h4>
				   <span></span>
			   </div>
			   <ul>
			      <li>
				     <a href="Default-1.aspx.htm" tppabs="http://www.jhecn.com/team/Default.aspx" class="cur">联合设计简介</a>
				  </li>
			      <li>
				     <a href="team.aspx.htm" tppabs="http://www.jhecn.com/team/team.aspx" class="">设计团队</a>
				  </li>
			      <li>
				     <a href="design.aspx.htm" tppabs="http://www.jhecn.com/team/design.aspx" class="">设计作品</a>
				  </li>
			   </ul>
		   </div>
		   
<div class="pageInfo">
   <div class="top">
      <h5>brand</h5>
	  <h4>服务热线</h4>
   </div>
   <div class="txt">
      <h6>上海稼禾</h6>
	  <h4>021-34687911</h4>
	  <h5>上海市闵行区合川路3050号</h5>
   </div>
   <div class="txt">
      <h6>南京稼禾</h6>
	  <h4>025-83218885</h4>
	  <h5>南京市秦淮区中华路50号<br />江苏国际经贸大厦20楼</h5>
	</div>
	<div class="txt">
      <h6>400热线</h6>
	  <h4>400-992-3050</h4>
   </div>
 
 </div>
	   </div>
	   <div class="mainBody fl">
	       <h2 class="label">联合设计简介 <em>/</em> <span>Design Institute</span></h2>
	       <div class="introBody">
		        <img src="/static/home/images/team/team.jpg" tppabs="http://www.jhecn.com/images/team/team.jpg" /> 
<h3>
	稼禾 · 联合设计是稼禾建设集团旗下大型室内设计师人才培养平台。
</h3>
<p>
	依托稼禾建设集团具备国家建设部颁发「国家建筑装饰施工一级资质」、「设计甲级资质」等资源优势，稼禾联合设计始终坚持以国内外设计师文化交流为核心，将国际经典风格及国内设计潮流趋势所同步，至今已聚集300多名全球设计大咖与近2000名亚太地区资深设计师会员，不断吸引国际一流设计师加盟入驻，为全球优秀设计师进入国内发展提供平台支持，共同构建起稼禾国际化设计师团队，为广大业主用户提供最为匹配的室内设计师资源。
</p>
		       
		      
		   </div>
	   </div>
	</div>

</div>


<script type='text/javascript'>
$(function(){
	$("a.order").click(function(){
	   $(".orderBy").toggle();
	});	
});	
</script>
<footer>
   <div class="cw">
      <div class="foot01">
	     <a href="../map/policy.aspx.htm" tppabs="http://www.jhecn.com/map/policy.aspx">隐私政策</a><span></span><a href="../map/provision.aspx.htm" tppabs="http://www.jhecn.com/map/provision.aspx">服务条款</a><span></span><a href="../map/report.aspx.htm" tppabs="http://www.jhecn.com/map/report.aspx">举报投诉</a><span></span><a href="../map/index.htm" tppabs="http://www.jhecn.com/map/">网站地图</a><span></span><!--<a href="">分支机构</a><span></span>--><a href="javascript:;" class="order">分支机构</a><span></span><a href="../contact/index.htm" tppabs="http://www.jhecn.com/contact/">联系我们</a>
		 <div class="orderBy">
		 <a href="">梧桐邦家装</a><a href="">尊御软装</a>
		 </div>
	  </div>
	  <h3 class="copyRight">上海稼禾装饰工程设计有限公司版权所有 2016.All rights reserved. 浙ICP备12027075号</h3>
   </div>
</footer>

<script type="text/javascript">
    window._pt_lt = new Date().getTime();
    window._pt_sp_2 = [];
    _pt_sp_2.push('setAccount,72bdf52c');
    var _protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    (function() {
        var atag = document.createElement('script'); atag.type = 'text/javascript'; atag.async = true;
        atag.src = _protocol + 'js.ptengine.cn/72bdf52c.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(atag, s);
    })();
</script>
<script type='text/javascript'>
    (function(m, ei, q, i, a, j, s) {
        m[i] = m[i] || function() {
            (m[i].a = m[i].a || []).push(arguments)
        };
        j = ei.createElement(q),
            s = ei.getElementsByTagName(q)[0];
        j.async = true;
        j.charset = 'UTF-8';
        j.src = '../../static.meiqia.com/dist/meiqia-1.js'/*tpa=http://static.meiqia.com/dist/meiqia.js*/;
        s.parentNode.insertBefore(j, s);
    })(window, document, 'script', '_MEIQIA');
    _MEIQIA('entId', 30202);
	
	_MEIQIA('withoutBtn');
</script>
<script type='text/javascript'>

    _MEIQIA('withoutBtn');
    _MEIQIA('init');
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-82999346-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
