

<!DOCTYPE HTML>
<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" />




<title>稼禾建设集团|建设部颁发甲级设计一级施工_别墅豪宅_星级酒店_办公楼_公寓住宅_软装设计</title><meta name='keywords' content='星级酒店,办公楼,软装设计,别墅设计,别墅装修,别墅装潢,别墅装饰,别墅装修设计,精装大宅,别墅装修效果图' /><meta name='description' content='稼禾建设集团是具备国家建设部颁发「建筑装饰施工一级资质」、「设计甲级资质」的国内装饰行业领军品牌，先后荣获“中国建筑装饰设计机构50强企业”、“中国建筑装饰30年专业化百强企业”、“中国建筑装饰绿色环保设计50强企业”等多项荣誉，服务热线400-992-3050。'/> 
<meta name="author" content="上海艾睿信息科技有限公司提供技术支持,http://www.irealtech.com" />

<!-- Apple iOS and Android stuff -->
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="baidu-site-verification" content="5zEgA8kTz4" />
<link rel="icon" href="../favicon.ico" tppabs="http://www.jhecn.com/favicon.ico" type="image/x-icon"/>
<link rel="shortcut icon" href="../favicon.ico" tppabs="http://www.jhecn.com/favicon.ico" type="image/x-icon"/>
<link rel="apple-touch-icon" href="/static/home/images/icon.png" tppabs="http://www.jhecn.com/images/icon.png"/>
<link rel="apple-touch-icon-precomposed" href="/static/home/images/icon.png" tppabs="http://www.jhecn.com/images/icon.png" />
<link rel="apple-touch-startup-image" media="screen and (orientation: portrait)" href="/images/startup.png" />
<link rel="apple-touch-startup-image" media="screen and (orientation: landscape)" href="/images/startupL.png" /><link href="/static/home/css/reset.min.css" tppabs="http://www.jhecn.com/css/reset.min.css" type="text/css" rel="stylesheet" /><link href="/static/home/css/layout.css" tppabs="http://www.jhecn.com/css/layout.css" type="text/css" rel="stylesheet" /><link href="/static/home/css/common.css" tppabs="http://www.jhecn.com/css/common.css" type="text/css" rel="stylesheet" /><link href="/static/home/css/page.css" tppabs="http://www.jhecn.com/css/page.css" type="text/css" rel="stylesheet" />
<!--[if IE]><script src="/static/home/js/lib/html5.js" tppabs="http://www.jhecn.com/js/lib/html5.js"></script><![endif]-->
<!--[if lt IE 10]><script type="text/javascript" src="/static/home/js/lib/PIE.js" tppabs="http://www.jhecn.com/js/lib/PIE.js"></script><![endif]-->
<script type="text/javascript" src="/static/home/js/lib/jquery.min.js" tppabs="http://www.jhecn.com/js/lib/jquery.min.js"></script>
<script type="text/javascript" src="/static/home/js/lib/prefixfree.min.js" tppabs="http://www.jhecn.com/js/lib/prefixfree.min.js"></script>
<script type="text/javascript" src="/static/home/js/jquery.easing.1.3.js" tppabs="http://www.jhecn.com/js/jquery.easing.1.3.js"></script>
<script type="text/javascript">
$(function(){
  $(".teamBody ul li:even").css("background","#f8f8f8");
});
</script>
<title>

</title></head>
<body>

<script type="text/javascript">
$(function(){
	$("ul.nav li").hover(function(){
		$("ul.nav li .dropdown").stop(false,true);
		$(this).find(".dropdown").fadeIn().animate({opacity:"0.7"},1000);	
		$(this).find(".tit").addClass("cur");
	},function(){
		$("ul.nav li .dropdown").stop(false,true);
		$(this).find(".dropdown").fadeOut().animate({opacity:"1"},1000);
		$(this).find(".tit").removeClass("cur");	
	});	
	$(".rightTool ul li").hover(function(){
		$(".rightTool ul li .box").stop(false,true);
		$(this).find(".box").fadeIn();	
	},function(){
		$(".rightTool ul li .box").stop(false,true);
		$(this).find(".box").fadeOut();
	});	
            $("a.backTop").click(function(){  
                $('body,html').animate({scrollTop:0},1000);  
                return false;  
            });  
	$("a.weixin").click(function(){
	   $(this).find("img").toggle();
	});	
});
</script>
<header>
   <div class="cw">
      <div class="header">
	     <a href="../index.htm" tppabs="http://www.jhecn.com/" class="logo fl" title="稼禾建设"><img src="/static/home/images/commom/logo.png" tppabs="http://www.jhecn.com/images/commom/logo.png" /></a>
		 <div class="fr">
		    <ul class="nav fl">
			   <li><a href="../index.htm" tppabs="http://www.jhecn.com/" class="tit">首页</a></li>
			   <li>
			       <a href="../about/index.htm" tppabs="http://www.jhecn.com/about/" class="tit">集团简介</a>
				   <div class="dropdown" style="width:240px;left:-120px;">
				      <a href="../about/default.aspx.htm" tppabs="http://www.jhecn.com/about/default.aspx">公司简介</a><em>/</em><a href="../about/honnor.aspx.htm" tppabs="http://www.jhecn.com/about/honnor.aspx">荣誉资质</a><em>/</em><a href="../about/culture.aspx.htm" tppabs="http://www.jhecn.com/about/culture.aspx">企业文化</a>
				   </div>
			   </li>
			   <li>
			       <a href="../news/index.htm" tppabs="http://www.jhecn.com/news/" class="tit">新闻&媒体</a>
				   <div class="dropdown" style="width:160px;left:-80px;">
				      <a href="../news/default.aspx.htm" tppabs="http://www.jhecn.com/news/default.aspx">新闻动态</a><em>/</em><a href="../news/default.aspx-cid=101.htm" tppabs="http://www.jhecn.com/news/default.aspx?cid=101">媒体报道</a>
				   </div>
			   </li>
			   <li>
			       <a href="index.htm" tppabs="http://www.jhecn.com/team/" class="tit cur">联合设计</a>
				   <div class="dropdown" style="width:260px;left:-140px;">
				      <a href="default.aspx.htm" tppabs="http://www.jhecn.com/team/default.aspx">设计院简介</a><em>/</em><a href="team.aspx.htm" tppabs="http://www.jhecn.com/team/team.aspx">设计团队</a><em>/</em><a href="design.aspx.htm" tppabs="http://www.jhecn.com/team/design.aspx">设计作品</a>
				   </div>
			   </li>
			   <li>
			       <a href="../case/index.htm" tppabs="http://www.jhecn.com/case/" class="tit">工程案例</a>
				   <div class="dropdown" style="width:595px;left:-297px;">
				        
                                <a href="../case/caselist.aspx-cid=1.htm" tppabs="http://www.jhecn.com/case/caselist.aspx?cid=1">商业综合体</a>
                                <em>/</em>
                            
                                <a href="../case/caselist.aspx-cid=2.htm" tppabs="http://www.jhecn.com/case/caselist.aspx?cid=2">星级酒店</a>
                                <em>/</em>
                            
                                <a href="../case/caselist.aspx-cid=3.htm" tppabs="http://www.jhecn.com/case/caselist.aspx?cid=3">办公楼</a>
                                <em>/</em>
                            
                                <a href="../case/caselist.aspx-cid=4.htm" tppabs="http://www.jhecn.com/case/caselist.aspx?cid=4">别墅豪宅</a>
                                <em>/</em>
                            
                                <a href="../case/caselist.aspx-cid=5.htm" tppabs="http://www.jhecn.com/case/caselist.aspx?cid=5">精装公寓</a>
                                <em>/</em>
                            
                                <a href="../case/caselist.aspx-cid=6.htm" tppabs="http://www.jhecn.com/case/caselist.aspx?cid=6">软装设计</a>
                                
                            
				   
				       
				   </div>
			   </li>
			   <li>
			       <a href="../contact/index.htm" tppabs="http://www.jhecn.com/contact/" class="tit">关于我们</a>
				   <div class="dropdown" style="width:160px;left:-80px;">
				      <a href="../contact/job.aspx.htm" tppabs="http://www.jhecn.com/contact/job.aspx">人才招聘</a><em>/</em><a href="../contact/Default.aspx.htm" tppabs="http://www.jhecn.com/contact/Default.aspx">联系方式</a>
				   </div>
			   </li>
			</ul>
			<div class="share fl">
			    <a href="javascript:;" class="weixin fl"><img src="/static/home/images/commom/h_wx.jpg" tppabs="http://www.jhecn.com/images/commom/h_wx.jpg" /></a><a href="" class="tmall fl"></a></div>
			</div>
		 </div>
	  </div>
   </div>
</header>

<div class="rightTool">
  <ul>
     <li>
	    <a href="javascript:void(0)" onclick="_MEIQIA('showPanel')"><img src="/static/home/images/commom/ico_1.png" tppabs="http://www.jhecn.com/images/commom/ico_1.png" /></a>
	 </li>
     <li>
	    <a href="javascript:;"><img src="/static/home/images/commom/ico_2.png" tppabs="http://www.jhecn.com/images/commom/ico_2.png" /></a>
		<div class="box">
		   <a href="javascript:;" class="tl">联系<br />方式</a>
		   <div class="lx">
		      <h3>全国免费热线</h3>
			  <h4>021-60524066</h4>
		   </div>
		</div>
	 </li>
     <li>
	    <a href="javascript:;"><img src="/static/home/images/commom/ico_3.png" tppabs="http://www.jhecn.com/images/commom/ico_3.png" /></a>
		<div class="box">
		   <a href="javascript:;" class="scan">扫一扫</a>
		   <div class="wx">
		      <img src="/static/home/images/commom/code.jpg" tppabs="http://www.jhecn.com/images/commom/code.jpg" />
		   </div>
		</div>
	 </li>
     <li>
	    <a href="javascript:;" class="backTop"><img src="/static/home/images/commom/ico_4.png" tppabs="http://www.jhecn.com/images/commom/ico_4.png" /></a>
	 </li>
  </ul>
</div>



<!-- Banner -->
<div class="pageBanner" style="background:url(/static/home/images/team/banner.jpg)/*tpa=http://www.jhecn.com/images/team/banner.jpg*/ no-repeat center;"></div>


<!-- 面包屑 -->
<div id="Crumb">
	<div class="cw">
		<a href="../index.htm" tppabs="http://www.jhecn.com/" class="home"></a><em>></em><a href="index.htm" tppabs="http://www.jhecn.com/team/">联合设计</a><em>></em><span>设计团队</span>
	</div>
</div>
<div class="cw">
	<div class="pageBody clearfix">
	   
<script type="text/javascript">
$(function(){
  $(".navList ul li:last-child").css("border-bottom","none");
});
</script>
	   <div class="pageNav fr">
	       <div class="navList">
		       <div class="Tit">
			       <h4>联合设计</h4>
				   <span></span>
			   </div>
			   <ul>
			      <li>
				     <a href="Default-1.aspx.htm" tppabs="http://www.jhecn.com/team/Default.aspx" class="">联合设计简介</a>
				  </li>
			      <li>
				     <a href="team.aspx.htm" tppabs="http://www.jhecn.com/team/team.aspx" class="cur">设计团队</a>
				  </li>
			      <li>
				     <a href="design.aspx.htm" tppabs="http://www.jhecn.com/team/design.aspx" class="">设计作品</a>
				  </li>
			   </ul>
		   </div>
		   
<div class="pageInfo">
   <div class="top">
      <h5>brand</h5>
	  <h4>服务热线</h4>
   </div>
   <div class="txt">
      <h6>上海稼禾</h6>
	  <h4>021-34687911</h4>
	  <h5>上海市闵行区合川路3050号</h5>
   </div>
   <div class="txt">
      <h6>南京稼禾</h6>
	  <h4>025-83218885</h4>
	  <h5>南京市秦淮区中华路50号<br />江苏国际经贸大厦20楼</h5>
	</div>
	<div class="txt">
      <h6>400热线</h6>
	  <h4>400-992-3050</h4>
   </div>
 
 </div>
	   </div>
	   <div class="mainBody fl">
		   <h2 class="label">设计团队 <em>/</em> <span>Design Team</span></h2>
	       <div class="teamBody">
              
                    <div class="Top">
			             <a href="teamdetail.aspx-id=1.htm" tppabs="http://www.jhecn.com/team/teamdetail.aspx?id=1">
				             <img src="/static/ImgUpload/201608/2016082904115838019.jpg" tppabs="http://www.jhecn.com/ImgUpload/201608/2016082904115838019.jpg" class="fl" width="200" height="240">
					         <div class="txt fr">
					            <h5>苏冰 </h5>
					            <h4>稼禾国际联合设计院院长</h4>
						        <p>我的一生可能没有最好的作品，但是我会越做越好</p>
					         </div>
				         </a>
			        </div>
                
              
              
			  <ul>
		       
                    <li>
		                 <a href="teamdetail.aspx-id=2.htm" tppabs="http://www.jhecn.com/team/teamdetail.aspx?id=2">
			                <img src="/static/ImgUpload/201608/2016082904113032579.jpg" tppabs="http://www.jhecn.com/ImgUpload/201608/2016082904113032579.jpg" class="fl" width="100" height="120">
				            <div class="fl">
				               <h5>崔志昊</h5>
				               <h4>稼禾国际联合设计院首席设计师</h4>
					           <p>设计源于生活，生活改变设计</p>
				            </div>
			             </a>
		            </li>
                
                    <li>
		                 <a href="teamdetail.aspx-id=3.htm" tppabs="http://www.jhecn.com/team/teamdetail.aspx?id=3">
			                <img src="/static/ImgUpload/201608/2016082904341221447.jpg" tppabs="http://www.jhecn.com/ImgUpload/201608/2016082904341221447.jpg" class="fl" width="100" height="120">
				            <div class="fl">
				               <h5>刘艺</h5>
				               <h4>研发技术部负责人</h4>
					           <p>设计提高品质，设计创造价值</p>
				            </div>
			             </a>
		            </li>
                
                    <li>
		                 <a href="teamdetail.aspx-id=10.htm" tppabs="http://www.jhecn.com/team/teamdetail.aspx?id=10">
			                <img src="/static/ImgUpload/201608/2016083105591881585.jpg" tppabs="http://www.jhecn.com/ImgUpload/201608/2016083105591881585.jpg" class="fl" width="100" height="120">
				            <div class="fl">
				               <h5>黄冬魁</h5>
				               <h4>主案设计师</h4>
					           <p>现代 美式 新中式</p>
				            </div>
			             </a>
		            </li>
                
                    <li>
		                 <a href="teamdetail.aspx-id=6.htm" tppabs="http://www.jhecn.com/team/teamdetail.aspx?id=6">
			                <img src="/static/ImgUpload/201608/2016083003112666002.jpg" tppabs="http://www.jhecn.com/ImgUpload/201608/2016083003112666002.jpg" class="fl" width="100" height="120">
				            <div class="fl">
				               <h5>李曜年</h5>
				               <h4>主案设计师</h4>
					           <p>从室内设计到体验设计，室内设计中的体验设计</p>
				            </div>
			             </a>
		            </li>
                
                    <li>
		                 <a href="teamdetail.aspx-id=12.htm" tppabs="http://www.jhecn.com/team/teamdetail.aspx?id=12">
			                <img src="/static/ImgUpload/201609/2016090105225421359.jpg" tppabs="http://www.jhecn.com/ImgUpload/201609/2016090105225421359.jpg" class="fl" width="100" height="120">
				            <div class="fl">
				               <h5>苏畅</h5>
				               <h4>主案设计师</h4>
					           <p>生态 文化 艺术 舒适</p>
				            </div>
			             </a>
		            </li>
                
                    <li>
		                 <a href="teamdetail.aspx-id=14.htm" tppabs="http://www.jhecn.com/team/teamdetail.aspx?id=14">
			                <img src="/static/ImgUpload/201609/2016090505213796195.jpg" tppabs="http://www.jhecn.com/ImgUpload/201609/2016090505213796195.jpg" class="fl" width="100" height="120">
				            <div class="fl">
				               <h5>金伟</h5>
				               <h4>主案设计师</h4>
					           <p>设计要求新、求异、求变、求不同，满足不同空间的需求。</p>
				            </div>
			             </a>
		            </li>
                
                    <li>
		                 <a href="teamdetail.aspx-id=7.htm" tppabs="http://www.jhecn.com/team/teamdetail.aspx?id=7">
			                <img src="/static/ImgUpload/201608/2016082904322281422.jpg" tppabs="http://www.jhecn.com/ImgUpload/201608/2016082904322281422.jpg" class="fl" width="100" height="120">
				            <div class="fl">
				               <h5>孙贵宝</h5>
				               <h4>主案设计师</h4>
					           <p>饰不可过，亦不可缺，淡妆浓抹为取适宜耳</p>
				            </div>
			             </a>
		            </li>
                
                    <li>
		                 <a href="teamdetail.aspx-id=21.htm" tppabs="http://www.jhecn.com/team/teamdetail.aspx?id=21">
			                <img src="/static/ImgUpload/201612/2016120801555175130.jpg" tppabs="http://www.jhecn.com/ImgUpload/201612/2016120801555175130.jpg" class="fl" width="100" height="120">
				            <div class="fl">
				               <h5>雷小雨</h5>
				               <h4>主案设计师</h4>
					           <p>艺术是生活的升华，设计是艺术的呈现</p>
				            </div>
			             </a>
		            </li>
                
                    <li>
		                 <a href="teamdetail.aspx-id=20.htm" tppabs="http://www.jhecn.com/team/teamdetail.aspx?id=20">
			                <img src="/static/ImgUpload/201610/201610100509044154.jpg" tppabs="http://www.jhecn.com/ImgUpload/201610/201610100509044154.jpg" class="fl" width="100" height="120">
				            <div class="fl">
				               <h5>钟夏琪</h5>
				               <h4>主案设计师</h4>
					           <p>好的设计来自于对生活的理解与体验</p>
				            </div>
			             </a>
		            </li>
                
                    <li>
		                 <a href="teamdetail.aspx-id=5.htm" tppabs="http://www.jhecn.com/team/teamdetail.aspx?id=5">
			                <img src="/static/ImgUpload/201610/2016101202354780696.jpg" tppabs="http://www.jhecn.com/ImgUpload/201610/2016101202354780696.jpg" class="fl" width="100" height="120">
				            <div class="fl">
				               <h5>任建军</h5>
				               <h4>主案设计师</h4>
					           <p>设计是功能性与意识性及人性、文化的完美追求与统一，才是室内设计过程的全部</p>
				            </div>
			             </a>
		            </li>
                
                    <li>
		                 <a href="teamdetail.aspx-id=8.htm" tppabs="http://www.jhecn.com/team/teamdetail.aspx?id=8">
			                <img src="/static/ImgUpload/201608/2016082904372332294.jpg" tppabs="http://www.jhecn.com/ImgUpload/201608/2016082904372332294.jpg" class="fl" width="100" height="120">
				            <div class="fl">
				               <h5>徐枫</h5>
				               <h4>主案设计师</h4>
					           <p>空间、功能与现代美学的完美结合</p>
				            </div>
			             </a>
		            </li>
                
                    <li>
		                 <a href="teamdetail.aspx-id=4.htm" tppabs="http://www.jhecn.com/team/teamdetail.aspx?id=4">
			                <img src="/static/ImgUpload/201608/2016082904164022980.jpg" tppabs="http://www.jhecn.com/ImgUpload/201608/2016082904164022980.jpg" class="fl" width="100" height="120">
				            <div class="fl">
				               <h5>李颖</h5>
				               <h4>主案设计师</h4>
					           <p>设计师就是空间的疗理师，治愈空间环境，给人家的感觉</p>
				            </div>
			             </a>
		            </li>
                
                    <li>
		                 <a href="teamdetail.aspx-id=22.htm" tppabs="http://www.jhecn.com/team/teamdetail.aspx?id=22">
			                <img src="/static/ImgUpload/201612/2016120811293359901.jpg" tppabs="http://www.jhecn.com/ImgUpload/201612/2016120811293359901.jpg" class="fl" width="100" height="120">
				            <div class="fl">
				               <h5>孙程</h5>
				               <h4>主案设计师</h4>
					           <p>设计源于生活，细节成就品质</p>
				            </div>
			             </a>
		            </li>
                
                    <li>
		                 <a href="teamdetail.aspx-id=16.htm" tppabs="http://www.jhecn.com/team/teamdetail.aspx?id=16">
			                <img src="/static/ImgUpload/201610/2016101801045113305.jpg" tppabs="http://www.jhecn.com/ImgUpload/201610/2016101801045113305.jpg" class="fl" width="100" height="120">
				            <div class="fl">
				               <h5>邓雷</h5>
				               <h4>主案设计师</h4>
					           <p>崇尚建筑空间的合理，关怀人文素养的呈现</p>
				            </div>
			             </a>
		            </li>
                
                    <li>
		                 <a href="teamdetail.aspx-id=19.htm" tppabs="http://www.jhecn.com/team/teamdetail.aspx?id=19">
			                <img src="/static/ImgUpload/201609/2016091910194981316.jpg" tppabs="http://www.jhecn.com/ImgUpload/201609/2016091910194981316.jpg" class="fl" width="100" height="120">
				            <div class="fl">
				               <h5>汤宏伟</h5>
				               <h4>主案设计师</h4>
					           <p>在确保满足使用功能的前提下，达到审美功能的最大化</p>
				            </div>
			             </a>
		            </li>
                
                    <li>
		                 <a href="teamdetail.aspx-id=17.htm" tppabs="http://www.jhecn.com/team/teamdetail.aspx?id=17">
			                <img src="/static/ImgUpload/201609/201609180601096052.jpg" tppabs="http://www.jhecn.com/ImgUpload/201609/201609180601096052.jpg" class="fl" width="100" height="120">
				            <div class="fl">
				               <h5>刘贤儒</h5>
				               <h4>主案设计师</h4>
					           <p>时尚空间，绿色环保</p>
				            </div>
			             </a>
		            </li>
                
                    <li>
		                 <a href="teamdetail.aspx-id=18.htm" tppabs="http://www.jhecn.com/team/teamdetail.aspx?id=18">
			                <img src="/static/ImgUpload/201609/2016091806232021658.jpg" tppabs="http://www.jhecn.com/ImgUpload/201609/2016091806232021658.jpg" class="fl" width="100" height="120">
				            <div class="fl">
				               <h5>佘一超</h5>
				               <h4>主案设计师</h4>
					           <p>生活是创新的源泉，体验生活，不断创新</p>
				            </div>
			             </a>
		            </li>
                
                    <li>
		                 <a href="teamdetail.aspx-id=13.htm" tppabs="http://www.jhecn.com/team/teamdetail.aspx?id=13">
			                <img src="/static/ImgUpload/201609/2016090105363357710.jpg" tppabs="http://www.jhecn.com/ImgUpload/201609/2016090105363357710.jpg" class="fl" width="100" height="120">
				            <div class="fl">
				               <h5>方菊花</h5>
				               <h4>主案设计师</h4>
					           <p>设计来源于生活本身</p>
				            </div>
			             </a>
		            </li>
                
                    <li>
		                 <a href="teamdetail.aspx-id=9.htm" tppabs="http://www.jhecn.com/team/teamdetail.aspx?id=9">
			                <img src="/static/ImgUpload/201608/2016083105484884683.jpg" tppabs="http://www.jhecn.com/ImgUpload/201608/2016083105484884683.jpg" class="fl" width="100" height="120">
				            <div class="fl">
				               <h5>阚琦</h5>
				               <h4>主案设计师</h4>
					           <p>不追逐潮流，做有故事的设计</p>
				            </div>
			             </a>
		            </li>
                
              
			      
			  </ul>
		   </div>
	   </div>
	</div>

</div>


<script type='text/javascript'>
$(function(){
	$("a.order").click(function(){
	   $(".orderBy").toggle();
	});	
});	
</script>
<footer>
   <div class="cw">
      <div class="foot01">
	     <a href="../map/policy.aspx.htm" tppabs="http://www.jhecn.com/map/policy.aspx">隐私政策</a><span></span><a href="../map/provision.aspx.htm" tppabs="http://www.jhecn.com/map/provision.aspx">服务条款</a><span></span><a href="../map/report.aspx.htm" tppabs="http://www.jhecn.com/map/report.aspx">举报投诉</a><span></span><a href="../map/index.htm" tppabs="http://www.jhecn.com/map/">网站地图</a><span></span><!--<a href="">分支机构</a><span></span>--><a href="javascript:;" class="order">分支机构</a><span></span><a href="../contact/index.htm" tppabs="http://www.jhecn.com/contact/">联系我们</a>
		 <div class="orderBy">
		 <a href="">梧桐邦家装</a><a href="">尊御软装</a>
		 </div>
	  </div>
	  <h3 class="copyRight">上海稼禾装饰工程设计有限公司版权所有 2016.All rights reserved. 浙ICP备12027075号</h3>
   </div>
</footer>

<script type="text/javascript">
    window._pt_lt = new Date().getTime();
    window._pt_sp_2 = [];
    _pt_sp_2.push('setAccount,72bdf52c');
    var _protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    (function() {
        var atag = document.createElement('script'); atag.type = 'text/javascript'; atag.async = true;
        atag.src = _protocol + 'js.ptengine.cn/72bdf52c.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(atag, s);
    })();
</script>
<script type='text/javascript'>
    (function(m, ei, q, i, a, j, s) {
        m[i] = m[i] || function() {
            (m[i].a = m[i].a || []).push(arguments)
        };
        j = ei.createElement(q),
            s = ei.getElementsByTagName(q)[0];
        j.async = true;
        j.charset = 'UTF-8';
        j.src = '../../static.meiqia.com/dist/meiqia-1.js'/*tpa=http://static.meiqia.com/dist/meiqia.js*/;
        s.parentNode.insertBefore(j, s);
    })(window, document, 'script', '_MEIQIA');
    _MEIQIA('entId', 30202);
	
	_MEIQIA('withoutBtn');
</script>
<script type='text/javascript'>

    _MEIQIA('withoutBtn');
    _MEIQIA('init');
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-82999346-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
