{include file="public/layout" /}

<!--<script type="text/javascript" src="/static/js/layer/laydate/laydate.js"></script>-->
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<script type="text/javascript" src="/static/uploadify/jquery.uploadify.min.js"></script>
<link rel="stylesheet" href="/static/uploadify/uploadify.css">


<link href="/static/zrc/css/iconfont.css" rel="stylesheet" type="text/css"/>
<link href="/static/zrc/css/fileUpload.css" rel="stylesheet" type="text/css">
<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/static/zrc/js/fileUpload.js"></script>

<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
	<form class="form-horizontal" id="adminHandle" action="" method="post">
		<!--<input type="hidden" name="act" value="edit">-->
		<!--<input type="hidden" name="admin_id" value="2">-->
		<div class="ncap-form-default">
			<dl class="row">
				<dt class="tit">
					<label for="title"><em>*</em>新闻标题:</label>
				</dt>
				<dd class="opt">
					<input type="text" name="title" value="{$infos['title']}" id="title" class="input-txt">
					<input type="hidden" name ='newID' value="{$infos['newID'] | default =0}">
					<input type="hidden" name ='type' value="{$type}">
				</dd>
			</dl>
			<dl class="row">
				<dt class="tit">
					<label for="sketch"><em>*</em>简述:</label>
				</dt>
				<dd class="opt">
					<input type="text" name="sketch" value="{$infos['sketch']}" id="sketch" class="input-txt">
				</dd>
			</dl>



			<dl class="row">
				<dt class="tit">
					<label for="orderby"><em>*</em>排序:</label>
				</dt>
				<dd class="opt">
					<input type="text" name="orderby" value="{$infos['orderby']}" id="orderby" class="input-txt">
				</dd>
			</dl>


			<dl class="row">
				<dd class="opt">
					<div id="fileUploadContent" class="fileUploadContent"></div>

					<!--<button onclick="testUpload()">提交</button>-->
				</dd>
				<script type="text/javascript">
                    $("#fileUploadContent").initUpload({
                        "uploadUrl":"/admin/upload/upload",//上传文件信息地址
                        //"size":350,//文件大小限制，单位kb,默认不限制
                        "maxFileNumber":10,//文件个数限制，为整数
                        "filelSavePath":"/static/zrc",//文件上传地址，后台设置的根目录
                        // "beforeUpload":beforeUploadFun,//在上传前执行的函数
                        "onUpload":onUploadFun,//在上传后执行的函数
                        autoCommit:false,//文件是否自动上传
                        "fileType":['png','jpg','docx','doc']//文件类型限制，默认不限制，注意写的是文件后缀
                    });
                    function beforeUploadFun(opt){
                        opt.otherData =[{"name":"name","value":"zxm"}];
                    }
                    function onUploadFun(opt,data){
                        if(data.status == 1){
                            uploadTools.uploadSuccess(opt);//显示上传成功
                            var opt = uploadTools.getOpt("fileUploadContent");
                            var str = '<input type="hidden" name="img[]" value = "'+data.path+'">';
                            $('#fileUploadContent').append(str);
                        }else{
                            uploadTools.uploadError(opt);//显示上传错误
                        }
                    }


                    function testUpload(){
                        var opt = uploadTools.getOpt("fileUploadContent");
                        uploadEvent.uploadFileEvent(opt);
                    }
				</script>
			</dl>

			<dl class="row">
				<dt class="tit">
					<label for="container"><em>*</em>内容:</label>
				</dt>
				<dd class="opt">
					<script id="container" name="container"  value = "{$infos['conten']}">

					</script>
					<!--<input type="text" name="conten" value="{$infos['conten']}" id="conten" class="input-txt">-->
				</dd>
			</dl>
			<div class="bot"><a href="JavaScript:void(0);" onclick="adsubmit();" class="ncap-btn-big ncap-btn-green" id="submitBtn">确认提交</a></div>
		</div>
	</form>
</div>
</div>
<!-- 配置文件 -->
<script type="text/javascript" src="/static/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="/static/ueditor/ueditor.all.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript">
    var editor = UE.getEditor('container');
</script>
<script>
    $("#sort").keyup(function (){
        var reg = $(this).val().match(/^[1-9]\d*$/);
        var txt = '';
        if (reg != null) {
            txt = reg[0];
        }
        $(this).val(txt);
    })

    function adsubmit(){

        var params = $('#adminHandle').serialize();
        if($('#title').val() == ''){
            layer.msg('标题不能为空');
            return false;
        }else if($('#orderby').val() == ''){
            layer.msg('排序不能为空');
            return false;
        }
        $.ajax({
            url:"{:url('news/new_add')}",
            type:'post',
            data:params,
            dataType:'json',
            success:function(res){
                layer.msg(res.msg,{time:1000},function(){
                    if(res.status == 1){
                        location.href= "{:url('news/index',array('type'=>$type))}";
                    }
                });
            }
        });
    }
</script>
</body>
</html>