{include file="public/layout" /}

<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">

<link rel="stylesheet" href="/static/upload.css">

<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
	<form class="form-horizontal" id="adminHandle" action="" method="post">
		<!--<input type="hidden" name="act" value="edit">-->
		<!--<input type="hidden" name="admin_id" value="2">-->
		<div class="ncap-form-default">
			<dl class="row">
				<dt class="tit">
					<label for="title"><em>*</em>新闻标题:</label>
				</dt>
				<dd class="opt">
					<input type="text" name="title" value="{$infos['title']}" id="title" class="input-txt">
					<input type="hidden" name ='newID' value="{$infos['newID'] | default =0}">
					<input type="hidden" name ='type' value="{$type}">
				</dd>
			</dl>
			<dl class="row">
				<dt class="tit">
					<label for="sketch"><em>*</em>简述:</label>
				</dt>
				<dd class="opt">
					<input type="text" name="sketch" value="{$infos['sketch']}" id="sketch" class="input-txt">
				</dd>
			</dl>



			<dl class="row">
				<dt class="tit">
					<label for="orderby"><em>*</em>排序:</label>
				</dt>
				<dd class="opt">
					<input type="text" name="orderby" value="{$infos['orderby']}" id="orderby" class="input-txt">
				</dd>
			</dl>


			<dl class="row">
				<dt class="tit">
					<label><em>*</em>添加图片</label>
				</dt>
				<dd class="opt">
					<dev id="uploadimg">

					</dev>
					<div id="imgBox"></div>
					<script src="/static/upload.js"></script>
					<script>
                        var upload = Upload('imgBox', {
                            path: "/static/upload.php",//请求的地址
                            type: "post",//请求方式,
                            uploadSuccess:function(res){
                                console.log(res)
                                if(res.code==100){
                                    res.results.forEach(function (item) {
                                        var img  = document.createElement('img');
                                        img.src = '/static/'+item;
                                        document.getElementById('uploadimg').appendChild(img);
                                        var str = '<input type="hidden" name="img[]" value = "'+item+'">';
                                        $('#imgBox').append(str);
                                    });
                                    // location.reload();
                                }else {
                                    alert(res.msg);
                                }
                            },
                            delImgFn:function(_this,parentNode,delFile,fileSrc,fileList,filterFile,index){
                                //删除文件前的回调
                                //下方是删除图片的操作，如需弹窗确定，可在本处执行并复制下列代码至确定事件内
                                _this.delImg(parentNode,delFile,fileSrc,fileList,filterFile,index);
                            }

                        });
                        console.log(upload)
					</script>
				</dd>
			</dl>


			<dl class="row">
				<dt class="tit">
					<label for="container"><em>*</em>内容:</label>
				</dt>
				<dd class="opt">
					<script id="container" name="container"  value = "{$infos['conten']}">

					</script>
					<!--<input type="text" name="conten" value="{$infos['conten']}" id="conten" class="input-txt">-->
				</dd>
			</dl>
			<div class="bot"><a href="JavaScript:void(0);" onclick="adsubmit();" class="ncap-btn-big ncap-btn-green" id="submitBtn">确认提交</a></div>
		</div>
	</form>
</div>
</div>
<!-- 配置文件 -->
<script type="text/javascript" src="/static/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="/static/ueditor/ueditor.all.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript">
    var editor = UE.getEditor('container');
</script>
<script>
    $("#sort").keyup(function (){
        var reg = $(this).val().match(/^[1-9]\d*$/);
        var txt = '';
        if (reg != null) {
            txt = reg[0];
        }
        $(this).val(txt);
    })

    function adsubmit(){

        var params = $('#adminHandle').serialize();
        if($('#title').val() == ''){
            layer.msg('标题不能为空');
            return false;
        }else if($('#orderby').val() == ''){
            layer.msg('排序不能为空');
            return false;
        }
        $.ajax({
            url:"{:url('news/new_add')}",
            type:'post',
            data:params,
            dataType:'json',
            success:function(res){
                layer.msg(res.msg,{time:1000},function(){
                    if(res.status == 1){
                        location.href= "{:url('news/index',array('type'=>$type))}";
                    }
                });
            }
        });
    }
</script>
</body>
</html>