<footer class="v2_footer">
    <section class="v2-inner v2-ac">
        <div class="v2_footer_nav col-sm-6">
            <a href="{:url('About/index')}" title="1关于我们">关于我们</a>
            <a href="{:url('News/index')}" title="新闻动态">新闻动态</a>
            <a href="{:url('Cases/index')}" title="案例展示">案例展示</a>
            <a href="{:url('Service/index')}" title="客户服务">客户服务1</a>
            <a href="{:url('Contact/index')}" title="联系我们">联系我们</a>
        </div>
        <div class="v2_footer_text col-sm-6 v2-ac">
            <p>装饰公司 版权所有 2008-2016 鄂ICP备8888888
                <!--统计代码--></p>
            <p>
                电话：13385290909 QQ:904725327  Email:904725327@qq.com</p>
            <div id="metinfo_91mb_Powered"></div>
            <p></p>
        </div>
        <div class="met_clear"></div>
    </section>
</footer>
<script src="/static/index/js/jquery.min.js"></script>
<script src="/static/index/js/bootstrap.min.js"></script>
</body>
</html>