<footer>
    <div class="cw">
        <div class="foot01">
            <a href="{:url('Contact/index')}">隐私政策</a><span></span><a href="{:url('Contact/index')}" >服务条款</a><span></span><a href="{:url('Contact/index')}">举报投诉</a><span></span><a href="{:url('Contact/index')}">网站地图</a><span></span><a href="javascript:;" class="order">分支机构</a><span></span><a href="{:url('Contact/index')}">联系我们</a>
            <div class="orderBy">
                <a href="">上海臻邸建筑装饰设计工程有限公司</a><a href="">上海臻邸建筑装饰设计工程有限公司</a>
            </div>
        </div>
        <h3 class="copyRight">上海臻邸建筑装饰设计工程有限公司版权所有 2018.All rights reserved. 沪ICP备12020000号</h3>
    </div>
</footer>
