<footer>
    <div class="cw">
        <div class="foot01">
            <a href="../map/policy.aspx.htm" tppabs="http://www.jhecn.com/map/policy.aspx">隐私政策</a><span></span><a href="../map/provision.aspx.htm" tppabs="http://www.jhecn.com/map/provision.aspx">服务条款</a><span></span><a href="../map/report.aspx.htm" tppabs="http://www.jhecn.com/map/report.aspx">举报投诉</a><span></span><a href="../map/index.htm" tppabs="http://www.jhecn.com/map/">网站地图</a><span></span><!--<a href="">分支机构</a><span></span>--><a href="javascript:;" class="order">分支机构</a><span></span><a href="../contact/index.htm" tppabs="http://www.jhecn.com/contact/">联系我们</a>
            <div class="orderBy">
                <a href="">梧桐邦家装</a><a href="">尊御软装</a>
            </div>
        </div>
        <h3 class="copyRight">上海稼禾装饰工程设计有限公司版权所有 2016.All rights reserved. 浙ICP备12027075号</h3>
    </div>
</footer>
