<header>
    <div class="cw">
        <div class="header">
            <a href="index.htm" tppabs="http://www.jhecn.com/" class="logo fl" title="稼禾建设"><img src="/static/home/images/commom/logo.png" tppabs="http://www.jhecn.com/images/commom/logo.png" /></a>
            <div class="fr">
                <ul class="nav fl">
                    <li><a href="index.htm" tppabs="http://www.jhecn.com/" class="tit cur">首页</a></li>
                    <li>
                        <a href="{:url('About/index')}" tppabs="http://www.jhecn.com/about/" class="tit">集团简介</a>
                        <div class="dropdown" style="width:240px;left:-120px;">
                            <a href="{:url('About/index')}" tppabs="http://www.jhecn.com/about/default.aspx">公司简介</a><em>/</em><a href="{:url('About/honnor')}" tppabs="http://www.jhecn.com/about/honnor.aspx">荣誉资质</a><em>/</em><a href="{:url('About/culture')}" tppabs="http://www.jhecn.com/about/culture.aspx">企业文化</a>
                        </div>
                    </li>
                    <li>
                        <a href="{:url('News/index')}" tppabs="http://www.jhecn.com/news/" class="tit">新闻&媒体</a>
                        <div class="dropdown" style="width:160px;left:-80px;">
                            <a href="{:url('News/index')}" tppabs="http://www.jhecn.com/news/default.aspx">新闻动态</a><em>/</em><a href="{:url('News/media')}" tppabs="http://www.jhecn.com/news/default.aspx?cid=101">媒体报道</a>
                        </div>
                    </li>
                    <li>
                        <a href="{:url('Team/index')}" tppabs="http://www.jhecn.com/team/" class="tit">联合设计</a>
                        <div class="dropdown" style="width:260px;left:-140px;">
                            <a href="{:url('Team/index')}" tppabs="http://www.jhecn.com/team/default.aspx">设计院简介</a><em>/</em><a href="{:url('Team/team')}" tppabs="http://www.jhecn.com/team/team.aspx">设计团队</a><em>/</em><a href="{:url('Team/works')}" tppabs="http://www.jhecn.com/team/design.aspx">设计作品</a>
                        </div>
                    </li>
                    <li>
                        <a href="{:url('Cases/index')}" tppabs="http://www.jhecn.com/case/" class="tit">工程案例</a>
                        <div class="dropdown" style="width:595px;left:-297px;">

                            <a href="{:url('Cases/case_class')}" tppabs="http://www.jhecn.com/case/caselist.aspx?cid=1">商业综合体</a>
                            <em>/</em>

                            <a href="case/caselist.aspx-cid=2.htm" tppabs="http://www.jhecn.com/case/caselist.aspx?cid=2">星级酒店</a>
                            <em>/</em>

                            <a href="case/caselist.aspx-cid=3.htm" tppabs="http://www.jhecn.com/case/caselist.aspx?cid=3">办公楼</a>
                            <em>/</em>

                            <a href="case/caselist.aspx-cid=4.htm" tppabs="http://www.jhecn.com/case/caselist.aspx?cid=4">别墅豪宅</a>
                            <em>/</em>

                            <a href="case/caselist.aspx-cid=5.htm" tppabs="http://www.jhecn.com/case/caselist.aspx?cid=5">精装公寓</a>
                            <em>/</em>

                            <a href="case/caselist.aspx-cid=6.htm" tppabs="http://www.jhecn.com/case/caselist.aspx?cid=6">软装设计</a>




                        </div>
                    </li>
                    <li>
                        <a href="{:url('Contact/index')}" tppabs="http://www.jhecn.com/contact/" class="tit">关于我们</a>
                        <div class="dropdown" style="width:160px;left:-80px;">
                            <a href="{:url('Contact/joinus')}" tppabs="http://www.jhecn.com/contact/job.aspx">人才招聘</a><em>/</em><a href="{:url('Contact/index')}" tppabs="http://www.jhecn.com/contact/Default.aspx">联系方式</a>
                        </div>
                    </li>
                </ul>
                <div class="share fl">
                    <a href="javascript:;" class="weixin fl"><img src="/static/home/images/commom/h_wx.jpg" tppabs="http://www.jhecn.com/images/commom/h_wx.jpg" /></a><a href="" class="tmall fl"></a></div>
            </div>
        </div>
    </div>
    </div>
</header>
