<div class="navList pb30">
    <div class="Tit">
        <h4>新闻&媒体</h4>
        <span></span>
    </div>
    <ul>
        <li>
            <a href="{:url('News/index')}" tppabs="http://www.jhecn.com/news/Default.aspx" class="cur">新闻动态</a>
        </li>
        <li>
            <a href="{:url('News/media')}" tppabs="http://www.jhecn.com/news/default.aspx?cid=101" class="">媒体报道</a>
        </li>
    </ul>
</div>

<div class="focusNews">
    <a href="detail.aspx-cid=101&id=16.htm" tppabs="http://www.jhecn.com/news/detail.aspx?cid=101&id=16">
        <img src="/static/ImgUpload/201701/201701161038551772.jpg" tppabs="http://www.jhecn.com/ImgUpload/201701/201701161038551772.jpg" width="262" height="180" />
        <h4>头条 | 稼禾建设集团再...</h4>
    </a>
</div>