<div class="navList">
    <div class="Tit">
        <h4>关于臻邸</h4>
        <span></span>
    </div>
    <ul>
        <li>
            <a href="{:url('About/index')}" tppabs="http://www.jhecn.com/about/Default.aspx" class="">公司简介</a>
        </li>
        <!--<li>-->
            <!--<a href="{:url('About/honnor')}" tppabs="http://www.jhecn.com/about/honnor.aspx" class="">荣誉资质</a>-->
        <!--</li>-->
        <!--<li>-->
            <!--<a href="{:url('About/culture')}" tppabs="http://www.jhecn.com/about/culture.aspx" class="cur">企业文化</a>-->
        <!--</li>-->
    </ul>
</div>
