<div class="navList">
    <div class="Tit">
        <h4>设计团队</h4>
        <span></span>
    </div>
    <ul>
        <!--<li>-->
            <!--<a href="{:url('Team/index')}" tppabs="http://www.jhecn.com/team/Default.aspx" class="">设计团队</a>-->
        <!--</li>-->
        <li>
            <a href="{:url('Team/team')}" tppabs="http://www.jhecn.com/team/team.aspx" class="cur">设计团队</a>
        </li>
        <!--<li>-->
            <!--<a href="{:url('Team/works')}" tppabs="http://www.jhecn.com/team/design.aspx" class="">设计作品</a>-->
        <!--</li>-->
    </ul>
</div>
