

<!DOCTYPE HTML>
<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" />




<title>臻邸国际</title><meta name='keywords' content='星级酒店,办公楼,软装设计,别墅设计,别墅装修,别墅装潢,别墅装饰,别墅装修设计,精装大宅,别墅装修效果图' /><meta name='description' content=''/>
<meta name="author" content="" />

<!-- Apple iOS and Android stuff -->
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="baidu-site-verification" content="5zEgA8kTz4" />
<link rel="icon" href="../favicon.ico"   type="image/x-icon"/>
<link rel="shortcut icon" href="../favicon.ico"   type="image/x-icon"/>
<link rel="apple-touch-icon" href="/static/home/images/icon.png" />
<link rel="apple-touch-icon-precomposed" href="/static/home/images/icon.png" />
<link rel="apple-touch-startup-image" media="screen and (orientation: portrait)" href="/images/startup.png" />
<link rel="apple-touch-startup-image" media="screen and (orientation: landscape)" href="/images/startupL.png" /><link href="/static/home/css/reset.min.css" type="text/css" rel="stylesheet" /><link href="/static/home/css/layout.css"  type="text/css" rel="stylesheet" /><link href="/static/home/css/common.css" type="text/css" rel="stylesheet" /><link href="/static/home/css/page.css"  type="text/css" rel="stylesheet" />
<!--[if IE]><script src="/static/home/js/lib/html5.js" ></script><![endif]-->
<!--[if lt IE 10]><script type="text/javascript" src="/static/home/js/lib/PIE.js"></script><![endif]-->
<script type="text/javascript" src="/static/home/js/lib/jquery.min.js" ></script>
<script type="text/javascript" src="/static/home/js/lib/prefixfree.min.js" ></script>
<script type="text/javascript" src="/static/home/js/jquery.easing.1.3.js" ></script>
<title>

</title></head>
<body>

<script type="text/javascript">
$(function(){
	$("ul.nav li").hover(function(){
		$("ul.nav li .dropdown").stop(false,true);
		$(this).find(".dropdown").fadeIn().animate({opacity:"0.7"},1000);	
		$(this).find(".tit").addClass("cur");
	},function(){
		$("ul.nav li .dropdown").stop(false,true);
		$(this).find(".dropdown").fadeOut().animate({opacity:"1"},1000);
		$(this).find(".tit").removeClass("cur");	
	});	
	$(".rightTool ul li").hover(function(){
		$(".rightTool ul li .box").stop(false,true);
		$(this).find(".box").fadeIn();	
	},function(){
		$(".rightTool ul li .box").stop(false,true);
		$(this).find(".box").fadeOut();
	});	
            $("a.backTop").click(function(){  
                $('body,html').animate({scrollTop:0},1000);  
                return false;  
            });  
	$("a.weixin").click(function(){
	   $(this).find("img").toggle();
	});	
});
</script>
{include file="pub/header" /}





<!-- Banner -->
<div class="pageBanner" style="background:url(/static/home/images/about/banner.jpg)/*tpa=http://www.jhecn.com/images/about/banner.jpg*/ no-repeat center;"></div>


<!-- 面包屑 -->
<div id="Crumb">
	<div class="cw">
		<a href="../index.htm" class="home"></a><em>></em><a href="index.htm" >集团简介</a><em>></em><span>荣誉资质</span>
	</div>
</div>

<div class="cw">
	<div class="pageBody clearfix">
	   
<script type="text/javascript">
$(function(){
  $(".navList ul li:last-child").css("border-bottom","none");
});
</script>
	   <div class="pageNav fr">
		   {include file="pub/right_about" /}


		   {include file="pub/right_a" /}
	   </div>
	   <div class="mainBody fl">
	       <h2 class="label">荣誉资质 <em>/</em> <span>Honorary qualification</span></h2>
	       <div class="honnorBody">
              <h4>
	<span>资质</span> 
</h4>
<div class="txt">
	<p>
		建筑装修装饰工程专业承包壹级
	</p>
	<p>
		建筑装饰工程设计专业甲级
	</p>
	<p>
		建筑幕墙工程专业承包贰级
	</p>
	<p>
		建筑幕墙工程设计专项乙级
	</p>
	<p>
		电子与智能化工程专业承包贰级
	</p>
	<p>
		消防设施工程专业承包贰级
	</p>
	<p>
		钢结构工程专业承包叁级
	</p>
	<p>
		建筑机电安装工程专业承包叁级
	</p>
</div>
<h4>
	<span>荣誉</span> 
</h4>
<div class="txt">
	<p>
		2012年度全国装饰设计机构50强企业
	</p>
	<p>
		2013年度全国住宅装饰装修行业100强企业
	</p>
	<p>
		2014年度精装楼盘类、金融场所类专业化100强企业
	</p>
	<p>
		2014-2015年度全国守合同重信用企业
	</p>
	<p>
		2015年度全国建筑装饰行业AAA级信用企业
	</p>
	<p>
		2008-2015年度连续8年荣获江苏省优秀装饰企业
	</p>
	<p>
		2011-2015年度荣获全国建筑工程装饰奖11项
	</p>
</div>
              
		   </div>
	   </div>
	</div>

</div>


<script type='text/javascript'>
$(function(){
	$("a.order").click(function(){
	   $(".orderBy").toggle();
	});	
});	
</script>
{include file="pub/footer" /}

<script type="text/javascript">
    window._pt_lt = new Date().getTime();
    window._pt_sp_2 = [];
    _pt_sp_2.push('setAccount,72bdf52c');
    var _protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    (function() {
        var atag = document.createElement('script'); atag.type = 'text/javascript'; atag.async = true;
        atag.src = _protocol + 'js.ptengine.cn/72bdf52c.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(atag, s);
    })();
</script>
<script type='text/javascript'>
    (function(m, ei, q, i, a, j, s) {
        m[i] = m[i] || function() {
            (m[i].a = m[i].a || []).push(arguments)
        };
        j = ei.createElement(q),
            s = ei.getElementsByTagName(q)[0];
        j.async = true;
        j.charset = 'UTF-8';
        j.src = '../../static.meiqia.com/dist/meiqia-1.js'/*tpa=http://static.meiqia.com/dist/meiqia.js*/;
        s.parentNode.insertBefore(j, s);
    })(window, document, 'script', '_MEIQIA');
    _MEIQIA('entId', 30202);
	
	_MEIQIA('withoutBtn');
</script>
<script type='text/javascript'>

    _MEIQIA('withoutBtn');
    _MEIQIA('init');
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-82999346-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
