{include file="pub/header" /}

<section class="sidebar-v2__section">
   <div class="section__head"> 
    <div class="navbar sidebar-v2"> 
     <div class="container-fluid" id="sidebar-v2__accordion"> 
      <div class="navbar-header   "> 
       <button type="button" class="navbar-toggle collapsed sidebar-v2__button btn" data-toggle="collapse" data-target="#sidebar-v2__list2" aria-expanded="false" data-parent="#sidebar-v2__accordion"> <span class="glyphicon glyphicon-menu-hamburger"></span> </button> 
       <h1 class="dropdown-toggle sidebar-v2__h1 btn " data-toggle="collapse" data-target="#sidebar-v2__list3" data-parent="#sidebar-v2__accordion"> <button type="button" disabled="disabled"></button> <span>公司荣誉 </span> </h1> 
      </div> 
      <div class="panel"> 
       <div class="collapse navbar-collapse" id="sidebar-v2__list2"> 
        <ul class="nav navbar-nav navbar-right" id="collapseTwo">
         <li><a href="{:url('About/index')}">公司简介</a></li>
         <li><a href="{:url('About/honor')}">公司荣誉</a></li>
         <li><a href="{:url('About/honor')}">精英团队</a></li>
        </ul> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </section> 
  <div class="met_clear"></div> 
  <article class="sidebar-v2__article"> 
   <div class="met_article"> 
    <div class="product-v2"> 
     <ul class="product-v2__list list-unstyled"> 
      <li class="col-lg-3 col-md-4 col-sm-6 v2-mtb15"> <a href="/m342/?Col6/11.html" title="测试荣誉" target="_self"> <img src="/static/index/images/201601190158369851.jpg" />
        <!--x="600" y="500"--> </a> 
       <div class="product-v2__list__box v2-ac product-v2__dg"> 
        <h2>测试荣誉</h2> 
       </div> </li> 
      <li class="col-lg-3 col-md-4 col-sm-6 v2-mtb15"> <a href="/m342/?Col6/10.html" title="测试荣誉" target="_self"> <img src="/static/index/images/201601190158191858.jpg" />
        <!--x="600" y="500"--> </a> 
       <div class="product-v2__list__box v2-ac product-v2__dg"> 
        <h2>测试荣誉</h2> 
       </div> </li> 
      <li class="col-lg-3 col-md-4 col-sm-6 v2-mtb15"> <a href="/m342/?Col6/9.html" title="测试荣誉" target="_self"> <img src="/static/index/images/201601190157154387.jpg" />
        <!--x="600" y="500"--> </a> 
       <div class="product-v2__list__box v2-ac product-v2__dg"> 
        <h2>测试荣誉</h2> 
       </div> </li> 
      <li class="col-lg-3 col-md-4 col-sm-6 v2-mtb15"> <a href="/m342/?Col6/8.html" title="测试荣誉" target="_self"> <img src="/static/index/images/201601190156196098.jpg" />
        <!--x="600" y="500"--> </a> 
       <div class="product-v2__list__box v2-ac product-v2__dg"> 
        <h2>测试荣誉</h2> 
       </div> </li> 
      <li class="col-lg-3 col-md-4 col-sm-6 v2-mtb15"> <a href="/m342/?Col6/7.html" title="测试荣誉" target="_self"> <img src="/static/index/images/201601190155476659.jpg" />
        <!--x="600" y="500"--> </a> 
       <div class="product-v2__list__box v2-ac product-v2__dg"> 
        <h2>测试荣誉</h2> 
       </div> </li> 
      <li class="col-lg-3 col-md-4 col-sm-6 v2-mtb15"> <a href="/m342/?Col6/5.html" title="测试荣誉" target="_self"> <img src="/static/index/images/201601182316205772.jpg" />
        <!--x="600" y="500"--> </a> 
       <div class="product-v2__list__box v2-ac product-v2__dg"> 
        <h2>测试荣誉</h2> 
       </div> </li> 
     </ul> 
     <div class="met_clear"></div> 
     <div class="met_pager">
       第一页&nbsp;上一页&nbsp;下一页&nbsp;尾页&nbsp;8条/页&nbsp;共1页/6条&nbsp;当前第1页&nbsp; 
     </div> 
    </div> 
   </div> 
  </article> 
  <div class="met_clear"></div>
  {include file="pub/footer" /}