

<!DOCTYPE HTML>
<html>
{include file="pub/header" /}


<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>臻邸国际</title><meta name='keywords' content='' /><meta name='description' content='臻邸国际建设集团是具备国家建设部颁发「建筑装饰施工一级资质」、「设计甲级资质」的国内装饰行业领军品牌，先后荣获“中国建筑装饰设计机构50强企业”、“中国建筑装饰30年专业化百强企业”、“中国建筑装饰绿色环保设计50强企业”等多项荣誉，服务热线400-992-3050。'/>
	<meta name="author" content="" />

	<!-- Apple iOS and Android stuff -->
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="baidu-site-verification" content="5zEgA8kTz4" />
	<link rel="icon" href="/static/home/favicon.ico"  type="image/x-icon"/>
	<link rel="shortcut icon" href="/static/home//favicon.ico"  type="image/x-icon"/>
	<link rel="apple-touch-icon" href="/static/home//images/icon.png" />
	<link rel="apple-touch-icon-precomposed" href="/static/home/images/icon.png" />
	<link rel="apple-touch-startup-image" media="screen and (orientation: portrait)" href="/static/home//images/startup.png" />
	<link rel="apple-touch-startup-image" media="screen and (orientation: landscape)" href="/static/home/images/startupL.png" /><link href="/static/home/css/reset.min.css"  type="text/css" rel="stylesheet" /><link href="/static/home/css/layout.css"   type="text/css" rel="stylesheet" /><link href="/static/home/css/common.css"  type="text/css" rel="stylesheet" /><link href="/static/home/css/page.css" type="text/css" rel="stylesheet" />
	<!--[if IE]><script src="/static/home/js/lib/html5.js" ></script><![endif]-->
	<!--[if lt IE 10]><script type="text/javascript" src="/static/home/js/lib/PIE.js" ></script><![endif]-->
	<script type="text/javascript" src="/static/home/js/lib/jquery.min.js"   ></script>
	<script type="text/javascript" src="/static/home/js/lib/prefixfree.min.js" ></script>
	<script type="text/javascript" src="/static/home/js/jquery.easing.1.3.js" ></script>
	<title>

	</title></head>
<body>

<script type="text/javascript">
    $(function(){
        $("ul.nav li").hover(function(){
            $("ul.nav li .dropdown").stop(false,true);
            $(this).find(".dropdown").fadeIn().animate({opacity:"0.7"},1000);
            $(this).find(".tit").addClass("cur");
        },function(){
            $("ul.nav li .dropdown").stop(false,true);
            $(this).find(".dropdown").fadeOut().animate({opacity:"1"},1000);
            $(this).find(".tit").removeClass("cur");
        });
        $(".rightTool ul li").hover(function(){
            $(".rightTool ul li .box").stop(false,true);
            $(this).find(".box").fadeIn();
        },function(){
            $(".rightTool ul li .box").stop(false,true);
            $(this).find(".box").fadeOut();
        });
        $("a.backTop").click(function(){
            $('body,html').animate({scrollTop:0},1000);
            return false;
        });
        $("a.weixin").click(function(){
            $(this).find("img").toggle();
        });
    });
</script>





<!-- Banner -->
<div class="pageBanner" style="background:url(/static/home/images/about/banner.jpg)/*tpa=http://www.jhecn.com/images/about/banner.jpg*/ no-repeat center;"></div>


<!-- 面包屑 -->
<div id="Crumb">
	<div class="cw">
		<a href="../index.htm"    class="home"></a><em>></em><a href="index.htm" >关于臻邸</a><em>></em><span>公司简介</span>
	</div>
</div>

<div class="cw">
	<div class="pageBody clearfix">

		<script type="text/javascript">
            $(function(){
                $(".navList ul li:last-child").css("border-bottom","none");
            });
		</script>
		<div class="pageNav fr">

			{include file="pub/right_about" /}

			{include file="pub/right_a" /}
		</div>
		<div class="mainBody fl">
			<h2 class="label">公司简介 <em>/</em> <span>Company Profile</span></h2>
			<div class="aboutBody">
				<p class="MsoNormal" style="text-align:justify;">
					<span style="line-height:1.5;">臻邸，是一家国际前沿的室内设计公司，致力于从事顶级商业地产，示范区，样板间，售楼处，酒店及度假村，高端会所，超高层商务办公楼等高级定制化设计服务，臻邸国际设计始终坚持以国内外设计师文化交流为核心，将国际经典风格及国内设计潮流趋势同步.不断吸引国际一流设计师加盟入驻，共同构建起臻邸国际化设计师团队。</span><span lang="EN-US"><o:p></o:p></span>
				</p>
				<p class="MsoNormal">
					<span lang="EN-US"></span><o:p></o:p>
				</p>
				<p class="MsoNormal" style="text-align:justify;">
	<span style="line-height:1.5;"><br />
</span>
				</p>
				<p class="MsoNormal" style="text-align:justify;">
					<span style="line-height:1.5;"> ● 我们关注时代变化带来的审美动向和格调潮流，只设计属于这个时代的作品；</span><span lang="EN-US"><o:p></o:p></span>
				</p>
				<p class="MsoNormal" style="text-align:justify;">
					<span style="line-height:1.5;"> ● 我们关心商业，并通过精益求精的设计来控制运营成本；</span><span lang="EN-US"><o:p></o:p></span>
				</p>
				<p class="MsoNormal" style="text-align:justify;">
					<span style="line-height:1.5;"> ● 我们研究设计心理，并通过空间、色彩、布局等设计语言来左右人们的思维模式和行为方式，为客户传递核心价值和诉求；</span><span lang="EN-US"><o:p></o:p></span>
				</p>
				<p class="MsoNormal" style="text-align:justify;">
					<span style="line-height:1.5;"> ● 我们重视设计价值，在每一个实际项目中都力求对美的洞见与追求。</span><span lang="EN-US"><o:p></o:p></span>
				</p>
			</div>
		</div>
	</div>

</div>


<script type='text/javascript'>
    $(function(){
        $("a.order").click(function(){
            $(".orderBy").toggle();
        });
    });
</script>
{include file="pub/footer" /}

<script type="text/javascript">
    window._pt_lt = new Date().getTime();
    window._pt_sp_2 = [];
    _pt_sp_2.push('setAccount,72bdf52c');
    var _protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    (function() {
        var atag = document.createElement('script'); atag.type = 'text/javascript'; atag.async = true;
        atag.src = _protocol + 'js.ptengine.cn/72bdf52c.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(atag, s);
    })();
</script>
<script type='text/javascript'>
    (function(m, ei, q, i, a, j, s) {
        m[i] = m[i] || function() {
            (m[i].a = m[i].a || []).push(arguments)
        };
        j = ei.createElement(q),
            s = ei.getElementsByTagName(q)[0];
        j.async = true;
        j.charset = 'UTF-8';
        j.src = '/static/home/static.meiqia.com/dist/meiqia-1.js'/*tpa=http://static.meiqia.com/dist/meiqia.js*/;
        s.parentNode.insertBefore(j, s);
    })(window, document, 'script', '_MEIQIA');
    _MEIQIA('entId', 30202);

    _MEIQIA('withoutBtn');
</script>
<script type='text/javascript'>

    _MEIQIA('withoutBtn');
    _MEIQIA('init');
</script>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-82999346-1', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>
